body{
	
	background-color: #444444;
	margin: 0;
    padding: 0;

	}
	
	.logo{
		justify-content:center;	
	align-items:center;
	float: center; 
	display:inline-block; 
	transform:translateX(-50%);
	position: absolute;
	top:-10;
	left:45%;
	right:50%;
	
	z-index:1;
	}
	.logo img{
		width:100px;
		height:auto;
		top:2%;
			}
			.header{
	padding-top:30px;
	padding-bottom:5px;
	poaition:flex;
	display:relative;
}
	
	
	nav ul {
		background-color: #191A1E;
  list-style: none;
  display: flex;
  justify-content: center;
  position:relative;
  top: 40px;
  
 
  z-index:2;
}
nav li {
  margin: 0 15px;
  transition:transform 0.2s, box-shadow 0.2s;
 
}
nav li:hover{
	transform:translateY(-3px;);
	box-shadow:5px 5px 12px rgba(0,0,0,0.9);
	 overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
   box-shadow: 0 0 0 5px #FFD700;
  color: #FFD700;
  scale: 0.95;
  
  }
a {
	font-size:20px;
  text-decoration: none;
  color: #CA965C;
  font-family: Ubuntu, sans-serif;
font-family: VT323, monospace;
}
.container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 70%;
  height: 70%;
}


footer {
  background-color: #191A1E;
  color: white;
  top: 115.2%;
  text-align: center;
   position:absolute;
  bottom: 10%;
  left: 0%;
  right: 0%;
  height:10%;

}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:absolute;
  top: 100%;
background-color: #191A1E;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.contact-list li {
  margin: 0 15px;
  display: flex;
  align-items: center;
  font-size: 20px;
   text-decoration: none;
   
}

.contact-list img {
  width: 40px; 
  height: 40px;
  margin-right: 5px;
}


.contact-list a {
  color: #CA965C;
  text-decoration: none;
 

}

.contact-list a:hover {
  text-decoration: underline;

}
.Deli{
	background-image:url(Img/Deli3.png);
	background-size:cover;
	background-position:center;
	padding:300px;
}
.deliv-details { 
position:absolute;
left:100;
top:150;
	text-align:left;
	border-bottom:solid 4px #C8AE7D;
	padding:6px 0;
	 margin-left:0;
	font-family:'georgia',Arial,serif;
	font-style:italic;
	font-size:24px;
	line-height:17px;
	color:#CA965C;
	font-weight:bold; 
	border-bottom: solid 4px #C8AE7D; 
	}
	
	.table{
	position:absolute;
	left:100;
	top:200;
		border-collapse:collapse;
		width:15px;
		margin :0 15px;
		font-family:Merriweather, serif;
		}
		th,td{
			idth:15px;
			margin:0 15px;
	
		text-align:left;
		border-bottom: solid 2px #C8AE7D;
		background-color:#FFF4E3;
		}
		.checkout{
			position:absolute;
	left:350;
	top:400;
		}
		.checkout:hover{
		 transform:scale(1.05);
	 z-index:1;
	
		a {
	font-family:'georgia',Arial,serif;
  text-decoration: none;
  color: 815B5B;		
	font-style:italic;
	font-size:24px;
		}
		}